<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> Follow some people ! </h1>
    <form action = "/followPeopleNow" method = "POST">
      <input type= "text" name = "username" placeholder = "Username" required/> <br>
      <input type= "submit" value = "Follow Some People"> <br>


      {% if error %}
        <p class = "error"> <strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>

    <button onclick= "goBack()"> Go Back </button>
    <script>
    function goBack(){
      window.history.back();
    }
    </script> <br>
    <br>
  </body>

</html>
