<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <body>
    <style type = "text/css">
    table, th, td{
      border: 1px solid black;
    }
    </style>

    Here are all images posted by {{username}}:

    <br> <br>

    <table>
      <th> pID </th>
      <th> firstName</th>
      <th> lastName</th>
      <th> postingDate</th>

      {% for line in data %}
        <tr>
          <td> {{line.pID}} </td>
          <td> {{line.firstName}} </td>
          <td> {{line.lastName}} </td>
          <td> {{line.postingDate}} </td>
        </tr>
      {% endfor %}
    </table> <br>

    <button onclick= "goBack()"> Go Back </button>
    <script>
    function goBack(){
      window.history.back();
    }
    </script> <br>
    <br>


  <a href="/"> Logout</a>
</body>

</html>
