<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> index.html </title>
  </head>
  <body>
    <h1> Index </h1>
    If you have already an account, please login.
    <br>
    <a href = "/login"> Login </a>
    <br>
    If you need to create an account, please register.
    <br>
	  <a href="/register">Register</a>

  </body>
</html>

<!--
<!DOCTYPE html>
<html>
    <head>
        <title> My First Website </title>
    </head>
    <body>
        <h1> My First Website </h1>
        <p> Hello World ! </p>

        <a href = "https://nyu.edu" > Click me! </a>

        <img src="Penguin.jpg" alt="A penguin">
    </body>
</html>
-->
