<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> People want to follow you !! </h1>
    <form>
      {% for line in requests%}
      <input type= "radio" name= "requests" value={{line.follower}}>{{line.follower}}</input> <br>

      {% endfor %}
      
      <input type= "submit" formaction="/acceptRequests" value= " Accept "> </button>
      <input type= "submit" formaction="/rejectRequests" value= " Reject "> </button>


      {% if error %}
        <p class = "error"> <strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>
  <a href="/"> Go back</a>
  </body>

</html>
